#footer
{
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 50;
    width: 100%;
    background-image: url("../public/footer_bck.png");
    background-size: cover;
    background-position: center;
    color: white;
}
.footer_container 
{
    z-index: 23;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.f_h 
{
    border-bottom: 2px solid white;
}
.footer_contact
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.3rem;
}
.f_s
{
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: bold;
    gap: 7px;
    line-height: 0%;
}
.f_btn 
{
    background-color: #22577a;
    color: white;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}
.footer_nav
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.3rem;
    & a 
    {
        color: white;
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
    }
}
.footer_rez 
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.3rem;
    & button 
    {
        font-size: 1rem;
        padding: 5px;
        background-color: #22577a;
        border: 2px solid white;    
        color: white;
        font-weight: bold;
    }
}
.newsletter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    & input 
    {
        border-radius: 5px;
        padding: 15px;
        background-color: white;
        min-width: 300px;
        border: 2px solid #22577a;
        color: black;
        font-weight: bold;
    }
    & button 
    {
        border-radius: 5px;
        padding: 15px;
        background-color: white;
        border: 2px solid #22577a;
        color: black;
        font-weight: bold;
    }
}

.copyright 
{
    font-size: 1.2rem;
    font-weight: bold;
}
#footer p 
{
    margin-top: 10px;
}