@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
#main::-webkit-scrollbar {
    display: none;
  }
::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb
{
    background: #22577a
}
#main 
{
    --primary_color: #efeeee;
    --secondary_color: #22577a;
    --third_color: black;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#main
{
    height: 100vh;
    width: 100%;
    scroll-behavior: auto;
}
.mobile_header
{
    display: none;
}
.header
{
    position: relative;
    width: 100%;
    height: 100svh;
    background-color: var(--primary_color);
    overflow: hidden;
    display: flex;
    color: var(--third_color);
    justify-content: space-evenly;
    align-items: center;
}
.nav_loc 
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #22577a;
    padding-left: 3px;
}
.wallpaper
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.5rem;
}
.wall 
{
    height: 120%;
    width: 270px;
    background-color: yellow;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    rotate: 6deg;
    & .wall_img 
    {
        width: 150%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all 500ms ease-out;
    }
    &:hover > .wall_img 
    {
        scale: 1.2;
        transition: all 500ms ease-in;
    }
    &::before
    {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 22;
        background: linear-gradient(0deg, rgba(2,142,240,1) 0%, rgba(239,238,238,0) 50%);
    }
    & .wall_check
    {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
        gap: 5px;
        padding-left: 5px;
        position: absolute;
        z-index: 35;
        left: 0;
        bottom: 9%;
        rotate: -6deg;
    }
}
#wall_1
{
    transform: translateY(-100%);
    animation: float_down;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    & img
    {
        animation: movement_anim;
        animation-duration: 5000ms;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}
#wall_2
{
    transform: translateY(100%);
    animation: float_up;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
    & img
    {
        animation: movement_anim;
        animation-delay: 200ms;
        animation-duration: 5000ms;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}
#wall_3
{
    transform: translateY(-100%);
    animation: float_down;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
    & img
    {
        animation: movement_anim;
        animation-delay: 400ms;
        animation-duration: 5000ms;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}
.header button 
{
    background-color: var(--secondary_color);
    border: 2px solid var(--third_color);
    color: var(--third_color);
    padding: 10px;
    margin-top: 25px;
    font-weight: bold;
    transition: 0.3s ease;
}
.header button:hover
{
    cursor: pointer;
    background-color: var(--third_color);
    color: var(--secondary_color);
    transition: 0.3s ease;
}
nav 
{
    position: absolute;
    top: 2%;
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
}
nav a 
{
    position: relative;
    text-decoration: none;
    color: var(--third_color);
    z-index: 22;
    display: block;
}
nav a::after
{
    content: "";
    position: absolute;
    background-color: var(--secondary_color);
    height: 3px;
    width: 0%;
    left: 0;
    top: 25px;
    z-index: -1;
    transform-origin: left;
    transition: 0.5s ease-out;
}
nav a:hover::after
{
    transform-origin: right;
    width: calc(100% + 5px);
    transition: 0.5s ease-in;
}
.header_info 
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.header_content 
{
    animation: float_top 1s ease-in forwards;
}
.short_notice
{
    gap: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
} 
.short 
{
    display: flex;
    gap: 5px;
    font-weight: bold;
    opacity: 0;
}
.s1 
{
    animation: float_left 1s ease-in forwards;
}
.s2 
{
    animation: float_left 1s ease-in forwards;
    animation-delay: 300ms;
}
.s3
{
    animation: float_left 1s ease-in forwards;
    animation-delay: 600ms;
}

/* HEADER FINISH */
.color_changer 
{
    display: none;
    background-color: white;
    border: 2px solid black;
    position: fixed;
    bottom: 3%;
    right: 3%;
    gap: 0.3rem;
}


@keyframes float_left
 {
    0%
    {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% 
    {
        transform: translateX(0px);
        opacity: 1;
    }
 }
@keyframes float_top 
{
    0%
    {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% 
    {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes float_down
{
    0%
    {
        transform: translateY(-100%);
    }
    100% 
    {
        transform: translateY(0%);
    }
}
@keyframes float_up
{
    0%
    {
        transform: translateY(100%);
    }
    100% 
    {
        transform: translateY(0%);
    }
}
@keyframes movement_anim 
{
    0% 
    {
        transform: translateX(0%);
    }
    50%
    {
        transform: translateX(-15%);
    }
    100% 
    {
        transform: translateX(0%);
    }
}