@media screen and (max-width: 767px)
{
   #main 
   {
      scroll-snap-type: none;
   }
    .header 
    {
        width: 100%;
    }
    .header nav 
    {
        display: none;
    }
    .header_info
    {
        padding-left: 10px;
        background-image: url("../public/artwork_mobile.png");
        background-position: center;
        background-size: cover;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .wallpaper 
    {
        display: none;
    }
    .short_notice
    {
        gap: 1.5rem;
        flex-direction: column;
    }
    .logo
     {
        height: 200px;
        width: 300px;
     }

     /* HEADER FINISH */

     #hero
     {
        scroll-snap-align: none;
        padding-bottom: 100px;
        overflow: none;
         height: auto;
     }
     #hero h1 
     {
        font-size: 2rem;
        margin-left: 30px;
     }
     #hero h1::after
     {
        width: 45px;
        height: 45px;
        left: -20px;
     }
     .hero_content
     {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
     }
     .usluge_x
     {
      width: 100%;
      margin-top: 120px;
     }
     .usluge 
     {
      overflow-x: scroll;
     }
     .slider 
     {
      width: 90%;
     }
     .separator
     {
        display: none;
     }

     /* REZERVACIJE */

     #reservation
     {
        overflow: auto;
        scroll-snap-align: none;
        height: auto;
     }
     #reservation h1 
     {
        font-size: 2rem;
        margin-left: 30px;
     }
     #reservation h1::after
     {
        width: 45px;
        height: 45px;
        left: -20px;
     }
     .reservation_content
     {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: auto;
     }
     .pricing
     {
      width: 90%;
     }
     .contact_form
     {
      margin-top: 120px;
      width: 90%;
     }
     form input, textarea
     {
      width: 90%;
     }
     #faq
     {
      position: relative;
      scroll-snap-align: none;
      height: auto;
      overflow: auto;
      width: 100%;
     }
     #faq_n
     {
      font-size: 2rem !important
     }
     #faq h1::after
     {
        width: 45px !important;
        height: 45px !important;
        left: -20px !important;
     }
     .faq_container
     {
      margin-top: 120px;
      flex-direction: column;
      width: 100% !important;
      align-items: center !important;
      justify-content: center !important;
     }
     .faq_content
      {
         width: 90%;
         display: grid;
         grid-template-rows: repeat(3, 1fr) !important;
         grid-template-columns: repeat(2, 1fr) !important;
         grid-gap: 1rem 2rem;
      }
      #google_maps
      {
         width: 90%;
         height: 450px;
      }
      .faq_3, .faq_4
      {
         padding-bottom: 15px;
      }
}